.top-navbar{
    width: 100%;
    height: 60px;
    position: fixed;        
    
}
a:hover{
    color: white;
}
.navbar-nav a{
    padding-left: 15px !important;
    padding-right: 15px !important;
    transition: 0.15s;
}

.btn-login{
    margin-right: 12px;
    margin-left: 12px;
}

.navbar-nav a:hover{
    color: #007bff !important;
    font-size: 17px;
}

a.btn-login:hover, a.btn-signup:hover{
    color: white !important;
}

.navbar-brand{
    margin-right: 40px;
    font-weight: 700;
}

.nav-item.nav-link.active{
    color: #007bff !important;
}

.fa.fa-navicon{
    margin-right: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
}

.account-container{
    width: 75%;
    height: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 14px -5px rgba(76, 75, 75, 0.75);
    padding: 35px;
}

.account-container .row:not(:first-child), .account-container .row:not(:last-child){
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(211, 211, 211);
    
}

.account-container .row:last-child{
    border-bottom: none;
}

.account-container .row:first-child{
    margin-bottom: 15px;
}

.form-group label{
    margin-bottom: 8px;
}

.container-fluid{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group{
    width: 440px;
}

.delete-account a{
    text-decoration: none;
    color: var(--bs-body-color);
}

.custom-btn{
    width: 160px;
    height: 45px;
    color: white;
    font-weight: 700;
    background: #1aa3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-decoration: none;
}

.top-questions-container{
    margin: 50px auto;
    width: 90%;
}


.list-group{
    width: 100%;
    margin: 30px auto;
}

.list-group a{
    padding: 15px;
}

.buttons-container{
    margin-right: 40px;
    justify-content: center;
    align-items: center;
}

.votes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(210,8%,45%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    width: 90px;
}

.answers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(140,40%,55%);
    border-radius: 4px;
    text-align: center;
    width: 90px;
}

.answers-container p{
    color: white;
}


.votes-container p, .answers-container p{
    margin: 0;
}

.function-buttons-container{
    justify-content: center;
    align-items: center;
}

.function-buttons-container a{
    margin: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.btn-ask-question{
    background: #0d6efd;
    color: white;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    
}

.img-dp{
    margin-top: 50px;
    width: 250px;
    height: 250px;
    background-image: url(img/defaultDP.png);
    background-size: 100%;
    border-radius: 50%;
}