.top-navbar{
    width: 100%;
    height: 60px;
    position: fixed;        
    
}

.navbar-nav a{
    padding-left: 15px !important;
    padding-right: 15px !important;
    transition: 0.15s;
}

.navbar-nav a:hover{
    color: #007bff !important;
    font-size: 17px;
}

.navbar-brand{
    margin-right: 40px;
    font-weight: 700;
}

.nav-item.nav-link.active{
    color: #007bff !important;
}

.fa.fa-navicon{
    margin-right: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
}

.account-container{
    width: 75%;
    height: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 14px -5px rgba(76, 75, 75, 0.75);
    padding: 35px;
}

.account-container .row:not(:first-child), .account-container .row:not(:last-child){
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(211, 211, 211);
    
}

.account-container .row:last-child{
    border-bottom: none;
}

.account-container .row:first-child{
    margin-bottom: 15px;
}

.form-group label{
    margin-bottom: 8px;
}

.container-fluid{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group{
    width: 440px;
}

.delete-account a{
    text-decoration: none;
    color: var(--bs-body-color);
}

.custom-btn{
    width: 160px;
    height: 45px;
    color: white;
    font-weight: 700;
    background: #1aa3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-decoration: none;
}


  


.SignUpBtn {
    display: inline-flex;
    height: 30px;
    padding: 0;
    top: 7px;
    left: 7px;
    position: relative;
    background: #007bff;
    border: none;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    font-weight: 800;
    cursor: pointer;
    padding: 0 10px;
    color: black;
    text-decoration: none;
}

.SignUpBtn:hover {
    background: #2248e2;
    color: white !important;
    font-size: 17px;
}

.SignUpBtn:active {
    background: #1936aa;
}

